<%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>
            <div class="container">
                <h1>Welcome to subreddit <%= name %>
                </h1>
                <h2>
                    <%= description %>
                </h2>
                <p>
                    <%= subscribers %> subscribers
                </p>
                <% for( let post of posts ) { %>
                    <article>
                        <p>
                            <b>
                                <%= post.author %>
                            </b>
                            -- <%=post.title %>

                        </p>
                        <% if (post.img) { %>
                            <img src=<%=post.img%> alt="">
                            <% } %>
                    </article>
                    <% } %>
            </div>
    </body>

    <%- include("partials/footer") %>